*{
	box-sizing: border-box;
}
body,html{
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
body{
	background: #fd0;
	color: #000;
	text-align: center;
	background-image: url('../images/treedbox-ani-black.svg');
	background-position: center center;
	background-repeat: no-repeat;
	transition: all .5s;
}
body:hover{
	color: #fff;
	background-color: #5e35b1;
	background-image: url('../images/treedbox-ani-white.svg');
}
body:active{
	background-color: #ff5722;
}